{% extends 'base.html' %}
{% block title %} Home {% endblock%} 

{% block content %}
	<div class="container_12">	
      <div class="grid_12">
        <h2 class="top-1 p3">Bienvenidos</h2>
        <p class="p2" align="justify">El Festival de la roca será una competencia de escalada deportiva que se llevará a cabo en La Peña de las Águilas, farallón de roca ubicado en el sector conocido como puente reyes,
        <a href="https://www.google.es/maps/place/5%C2%B047'36.5%22N+72%C2%B049'08.2%22W/@5.7934718,-72.836454,14z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d5.79346!4d-72.818931" target="_blank" class="link">¡como llegar!</a>.El evento se realizará los días 12, 13 y 14 de noviembre. El primer dia se formalizan las inscripciones, posteriormente se dará un recorrido por el parque. El dia domingo, iniciará la competencia desde las 7:00 am hasta las 6:00 pm. A las 7:00 pm se entregará la premiación acompañada de una actividad de integración. 
        </p>
        <h2 class="top-1 p3">ATENCION</h2>
        <p class="p2" align="justify"> <B> LOS PRIMEROS INCRITOS EN ESTA PAGINA TENDRAN TRANSPORTE  DE IDA EL DIA SABADO Y VUELTA EL DIA LUNES DESDE LA CIUDAD DE BOGOTA HASTA EL LUGAR DEL EVENTO. </B> </p>
        </div>
     
      <div class="clear"></div>
    </div>  
{% endblock %}