{% extends 'base.html' %}
{% block title %}etodologia {% endblock%} 
{% block content %}
	<div class="container_12">	
     <div class="grid_7"> 
         <h2 class="top-1 p3">Competencia</h2>
         
         <ul class="list-1">
            <li> Será una competencia de Resistencia </li>
            <li> La participación será por cordadas </li>
            <li> Un miembro de cada equipo tendrá que encadenar la ruta </li>
            <li> Los puntos de cada ruta dependen de su grado de dificultad </li>
            <li> Al final del día se sumarán las rutas encadenadas </li>
            <li> Cada cordada tendrá un nombre y un distintivo </li>
        </ul>


    </div>

        <div class="grid_5"> 
            <h2 class="top-1 p3">Categorias</h2>
            <ul class="list-1">
                    <li>Masculino Novatos</li>
                    <li>Masculino Expertos</li>                    
                    <li>Femenino Novatos</li>
                    <li>Femenino Expertos</li>
                    <li>Mixta</li>
                  
                    
            </ul>
        </div>
      <div class="clear"></div>
    </div>  
    
{% endblock %}