{% extends 'base.html' %}
{% block title %} Home {% endblock%} 

{% block content %}
  
  <div class="container_5">
  <div class="grid_5">
    <h2 class="top-1 p3">Acerca de nuestros patrocinadores</h2>
        <p>Un saludo a todos nuestros patrocinadores, que apoyan el deporte que tanto nos gusta y hacen que este crezca. Tenemos muchos premios para los ganadores del evento y para los que no también !! </p>  
  </div>
  <div class="clear"></div>
    
  </div>
  <div class="container_12"> 
  <h2 class="top-1 p3">PATROCINAN : </h2> 
    <div class="grid_7"> 
      
      <ul class="list-1">
        <li><a href="https://www.facebook.com/HostalJuanPalitos/?fref=ts" class="link"> Hostal Juan Palitos </a></li>
        <li><a href="https://www.facebook.com/ElNomadaCafeHostal/?fref=ts" class="link">Hostal El Nomada </a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100010103826852&fref=ts" class="link">Hostal Kamp Nattivo</a></li>
        <li><a href="https://www.facebook.com/WeyaCentrodeEscalada?fref=ts" class="link">Weya Gimnasio de escalada </a></li>
        <li><a href="http://monodedo.com/md%20colombia/mdcolombia/arranquecol.html" class="link">Monodedo </a></li>
        <li><a href="https://www.facebook.com/WeyaCentrodeEscalada?fref=ts">Weya Gimnasio de escalada </a></li>
     </ul>
    </div>
    <div class="grid_5"> 
      
      <ul class="list-1">
        <li><a href="https://www.facebook.com/Lapiolarevista/?fref=ts" class="link">Revista La Piola</a></li>
        <li><a href="https://www.facebook.com/elmosquetoncolombia/?fref=ts" class="link">EL mosqueton </a></li>
        <li><a href="https://www.facebook.com/liliana.roa.948?fref=ts" class="link">Liliana Roa Fisioterapeuta</a></li>
        <li><a href="http://www.thanatosholds.com/">Thanatos</a></li>
        <li><a href="https://www.facebook.com/Dr-Gato-489409887910620/?fref=ts" class="link">Dr. Gato</a></li>
                     
      </ul>
    </div>
    <div class="clear"></div>
  </div>   
{% endblock %}